* {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  color: white;
  background-image: url('https://w0.peakpx.com/wallpaper/998/17/HD-wallpaper-green-theme-background-whatsapp-thumbnail.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
